<h1>Bigframe</h1>

<p1>BigFrame is a benchmark generator for big data analytics, which means that it can instantiate different kinds of benchmarks. Unlike the existing benchmarks, e.g., TPC-DS, Hive benchmark, etc., which are either micro-benchmarks or benchmarks in very specific domains---making them unfit for big data deployments today---BigFrame can instead generate bechmarks tailored to a specific set of data and workload requirements.</p>


<p2>For example, some enterprises may be grappling with increasing data volumes; with the variety and velocity of their data not being pressing concerns. Some other enterprises may be interested in benchmarking systems that can handle larger volumes and variety of data; but with the volume of unstructured data dominating that of the structured data by orders of magnitude. A third category of enterprises may be interested in understanding reference architectures for data analytics applications that need to deal with large rates of streaming data (i.e., high velocity of data).</p>

<h4></a>For more information about BigFrame, please refer to the <a href="https://github.com/bigframeteam/BigFrame/wiki">wiki</a></h4>
