<h1>Execution</h1>
Contains the form to execute new queries.

Dropdown (Engine), Hive, Spark

button to go to a config page for each engine?

options:
Micro/Macro
what other options?

textfield for output path

button to submit query

goes straight to visualization path for that job (or maybe just the list of running queries)