<h1>Data Generator</h1>
This will contain the form for data generation.

Dropdown (Volume), small, medium, large

Dropdown (Variety), options go here, can't read the picture

something about relational_data_path?

System_settings page?  Is that linked from here?

On submit a page with a progress bar is loaded.

After completion what happens?