<head>
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="bootstrapSwitch.css" rel="stylesheet">
</head>
<h1>Data Generation Log</h1>
<br>
<%=link_to "&laquo;Back".html_safe, :action=>"index"%>
<br>
Auto refresh:
<div class="switch switch-small">
    <input id="refresh" type="checkbox" checked>
</div>
<br><br>
<pre>
  <code>
    <%= @log %>
  </code>
</pre>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="bootstrapSwitch.js"></script>
<script>
function update(){
if ($('#refresh').prop('checked')){
//redraw graph?
location.reload(true);
}
}

setInterval("update()",10000);
</script>

